@model FaleMaisDDD.MVC.Models.ViewModels.PrecoViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Preco</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Destino.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destino.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origem.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origem.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorMinuto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorMinuto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
